body{
            background-color: #D2D2D3;
}

#plov {
      position: fixed;
    top: 12%;
    left: 60%;
    translate: -50%, -50%;
    border-radius: 50%;
    overflow: hidden;
	 animation: 4s linear 0s infinite alternate rotateInfinite forwards;
	 transform-origin: center;
}

@keyframes rotateInfinite {
	
	from {
		rotate: 0deg;
	}
	
	to {
		rotate: 360deg;
	}
}
#lubimi_eda {
	position: static;
}

#lubimi_zanyati {
	position: static;
}

#lubimi_muzik {
	position: static;
}

#lubimi_igri {
      position: absolute;
    top: 45%;
    left: 25%;
}

#lubimi_predmeti {
      position: absolute;
    top: 65%;
    left: 25%;
}

#vk { 
	position: fixed ;
	top: 96%;
	right: 5%;
}	
#steam { 
	position: fixed ;
	top: 96%;
	right: 16%;
}	
#faceit { 
	position: fixed ;
	top: 96%;
	right: 20%;
}	
#twitch { 
	position: fixed ;
	top: 96%;
	right: 25%;
}	
#youtube { 
	position: fixed ;
	top: 96%;
	right: 28%;
}	